*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  
}
body{
  background-color: #565e68;
  color: #e7e8ed;
  overflow-x: hidden;

}

.sec1{
  height: 750px;
  overflow: hidden;
}
.sec1 image{
  object-fit: cover;
  width: 100%;
}
#carouselExampleIndicators{
  position: relative;
}
#text{
  position: absolute;
  margin: auto;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0,.5);
}
#text h1{
font-weight: bolder;
color: white;
}
#image1{
  background-image: url('../public/images/1.JPG');
}
#image2{
  background-image: url('../public/images/2.JPG');
}
#image3{
  background-image: url('../public/images/IMG-20210705-WA0014.jpg');
}
.carousel-indicators{
  z-index: 1;
}
/* MISSIONS */
.sec2{
  display: flex;
}
.sec2 #sideimg img{
  height: 500px;
}

.sec2 #sideimg{
  display: flex;
  justify-content: flex-end ;
  width: 50%;
}
#text1{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  background: rgba(248, 248, 255, 0.281);
  color: black;
  text-shadow: 11px 11px 50px white;
  text-align: left;
}
@media screen and (max-width:900px){
  .sec2{
      display: flex;
      flex-direction: column;
  }
   .sec2 #sideimg{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .sec2 #sideimg img{
      width: 400px;
  }  
  #text1{
      text-align: center;
      width: 100%;
  }
}
#sideimg{
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(rgba(44, 35, 35, 0.404),rgba(255, 255, 255, 0.308)), url(../public/images/m1.jpg);
  background-size: cover;
  background-position: center;
  transition: 5s;
  justify-content: space-around;


  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 50s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; 
  animation-play-state: running;
  animation-timing-function:ease-out; 
}
@keyframes animate{
  0%{
      background-image: url(../public/images/m1.jpg);
  }
  20%{
      background-image: url(../public/images/m2.jpg);
  }
  40%{
      background-image: url(../public/images/m3.jpg);
  }
  60%{
      background-image: url(../public/images/m2.jpg);
  }
  80%{
      background-image: url(../public/images/m1.jpg);
  }
  100%{
      background-image: url(../public/images/m2.jpg);
  }
}

/* end of missions */
#sec3{
  max-height: auto;
  min-height: 300px;
  background: url(../public/images/istockphoto-1301639302-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sec3a{
  background: rgb(0, 0, 0,.5);
  padding: 50px 0 50px 0;
  color: lightgray;
  /* height: 300px; */
}

ul {
padding:0;
margin:0
}
li {
list-style:none
}
a:focus,a:hover {
text-decoration:none;
-webkit-transition:.3s ease;
-o-transition:.3s ease;
transition:.3s ease
}
a:focus {
outline:0
}
img {
max-width:100%
}
p {
font-size:16px;
line-height:30px;
color:#898b96;
font-weight:300
}
h4 {
font-family:Rubik,sans-serif;
margin:0;
font-weight:400;
padding:0;
color:#363940
}
a {
color:#5867dd
}
.no-padding {
padding:0!important
}

.go_top span {
display:inline-block
}
.footer-big {
padding:105px 0 65px 0
}
.footer-big .footer-widget {
margin-bottom:40px
}
.footer--light {
background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
color:#898b96
}
.footer-menu {
padding-left:48px
}
.footer-menu ul li a {
font-size:15px;
line-height:32px;
-webkit-transition:.3s;
-o-transition:.3s;
transition:.3s
}
.footer-menu ul li a:hover {
color:#5867dd
}
.footer-menu--1 {
width:100%
}
.footer-widget-title {
line-height:42px;
margin-bottom:10px;
font-size:18px
}
.mini-footer {
background:#192027;
text-align:center;
padding:32px 0
}
.mini-footer p {
margin:0;
line-height:26px;
font-size:15px;
color:#999
}
.mini-footer p a {
color:#5867dd
}
.mini-footer p a:hover {
color:#34bfa3
}
.widget-about img {
display:block;
margin-bottom:30px
}
.widget-about p {
font-weight:400
}
.widget-about .contact-details {
margin:30px 0 0 0
}
.widget-about .contact-details li {
margin-bottom:10px
}
.widget-about .contact-details li:last-child {
margin-bottom:0
}
.widget-about .contact-details li span {
padding-right:0px
}
.widget-about .contact-details li a {
  text-decoration: none;
color:black
}
@media (max-width:991px) {
.footer-menu {
padding-left:0
}
}
#con1{
  justify-content: center;
}
@media screen and (max-width:985px){
  #con1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
  }

}
@media screen and (max-width:575px){
      #con1{
          display: flex;
          flex-direction: column;
          text-align: left;
      }
     
}
#back-to-top{
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: rgba(255, 255, 255, .9);
  color: #313943;
  border: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
  transition: all .3s ease-in-out;
  display: inline-block;
  opacity: 0;
  text-decoration: none;
  font-size: .75em;
}    
  #back-to-top:hover{
      background-color: #fff;
      padding: 1em 3em;
  }
#back-to-top.visible{
  opacity: 1;
}
.card_content{
  display: flex; 
  justify-content: space-around; 
  margin-top:30px;
}
.card_content .card{
  width: 400px;
  padding: 40px; 
  background-color: rgba(105, 201, 230, 0.349);
  box-shadow: 1px 2px 3px black;
  margin-bottom: 20px;
}
.wingsindexcard{
  display:flex; 
  justify-content:space-around;
}
@media screen and (max-width:1289px){
  .wingsindexcard{
    flex-direction: column;
  }
}

.box{
  height: 30vh;
  border-radius: 20px;
}
@media screen and (max-width:768px){
  .sec1{
      height: 550px;
  }
}
@media screen and (max-width:574px){
  .sec1{
      height: 450px;
  }
  .box{
      height: 20vh;
      margin-bottom: 20px;
  }
} 
#fold1{
  background-color: #5867dd; 
  display: flex;
  flex-direction:column; 
  align-items:center; 
  justify-content: space-evenly;
  box-shadow: 2px 5px 2px #363940;
}
#fold2{
  background-color: crimson; 
  display: flex;
  flex-direction:column; 
  align-items:center; 
  justify-content: space-evenly;
  box-shadow: 2px 5px 2px #363940;
}

#aboutpg{
  background-image: url('../public/images/3.jpg');
}
/* GALLERY PAGE */
.column{
  width: 100%;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
#vid{
  padding: 20px; 
  display: flex;
  flex-direction:'row';
  justify-content:'space-around'
}
#vid .card{
  margin-left: 20px;
}
@media screen and (max-width: 1260px) {
  #vid {
    flex-direction: column;
  }
}
.whatsapp{
  height: 80px;
  background-image: url(../public/images/WhatsAppButtonGreenSmall.png);
  background-position: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.whatsapp a{
  text-decoration: none;
}
.whatsapp a p{
  margin-top: 20px;
  opacity: 0;
}

/* New NAVBAR */
.navbar{
  height: 3rem;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 50px;
  height: 50px;
}
nav{
  bottom: 0;
   left: 0; 
  width: 100%;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
 
}
nav li{
  color: #777;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}
nav ul li p{
  font-size: 12px;
  margin: 2px 0;
}
nav ul li .fa-house, .fa-image, .fa-circle-info, .fa-credit-card, .fa-book-open,.fa-question{
  display: none;
}
nav ul li:hover,
nav ul li.active{
  color: #0004ff;
}
@media screen and (max-width:929px){
  nav{
      height: 60px;
      position: fixed;
      z-index: 9999;
      background-color: beige;
  }
  nav ul{
      justify-content: space-evenly;
      align-items: center;
  }
  nav ul li .fa-house, .fa-image, .fa-circle-info, .fa-credit-card, .fa-book-open,.fa-question{
    display: inline;
  }
}
@media screen and (max-width:424px){
  .container-fluid .logo{
    margin-top: 20px;
  }
   nav{
    width: max-content;
    padding: 0;
    margin: 0;
   }
   nav ul{
    margin: 0;
    padding: 0;
   }
   nav ul li{
    
    margin-right: 15px;
   }
}
@media screen and (max-width: 394px){
  nav ul li{
    margin-right: 12px;
  }
}
@media screen and (max-width: 376px){
  nav ul li{
    margin-right: 10px;
  }
}
@media screen and (max-width: 361px){
  nav ul li{
    margin-right: 7px;
  }
}
@media screen and (max-width: 281px){
  nav ul li{
    margin-right: 12px;
  }
  nav ul li p{
    display: none;
  }
}
.search-input{
  padding: 0 10px 0 10px;  
}
.search-input input{
  width: 70%;
  border-radius: 5px;
  border: none;
  height: 35px;
  padding: 10px;
  margin-right: 10px;
}
/* end of css for navbar */

/* start of css for the counselling page */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;

}

.accordion:after {
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.panel form {
  display: flex;
  flex-direction: column;
}
.panel form input{
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
  padding: 10px;
}
.panel form input::placeholder{
  opacity: 0.5;
}
.panel form i{
  font-size: small;
}
.panel form textarea{
  height: 20vh;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
}
.panel form textarea::placeholder{
  opacity: 0.5;
}
.panel button{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 20%;
}
.adv,.adv1{
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adv{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1523803326055-9729b9e02e5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHJheWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}
.adv1{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1611858977757-8f7cdc084d3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVwcmVzc2VkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}
  @media screen and (max-width:424px){
    .adv h1, .adv1 h1{
      font-size: larger;
    }
    .adv p{
      font-size: small;
    }
  }

/* Dashboard css */
.dashboard{
  background-color: #0004ff;
}

